
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", serif;
    text-decoration: none;
    max-width: 100%;
}
:root {
    --orange: #fd7e14;
    --white: #fff;
    --gray: #2e2e2fe2;
    --gray-dark: #343a40c7;
    --primary: #DA9F5B;
    --secondary: #33211D;
    --success: #666666;
    --dark: #111111;
    --light:#f6e79e;
    --back: rgba(58, 28, 28, 0.792);
}
body{
    font-family: "Bebas Neue", serif;
    background-color: var(--white);
}
#hero-caurousel{
    margin-top:-122px;
    z-index: 0;
    width: 100%;
}
.c-img{
object-fit: cover;
z-index: 0;
}
.size{
    background-color:  rgba(60, 34, 34, 0.5);
    background-position: center;
    width: 100%;
    height: 98.7vh;
    margin-left: -228px;
}
.logo1{
    position:relative;
    color:white ;
    z-index:1;
    background-color: rgba(60, 34, 34, 0.5);
}
.heading{
    color:white ;
    z-index: 1;
    font-weight: bolder;
}
.koppee{
    font-size: 70px;
    padding: 30px 0px 0px 40px;
    font-weight: 600;
}
.serving{
    font-size:40px;
    word-spacing: 10px;
    padding-top: 150px;
    color: var(--primary);
    z-index: 5;
}
.coffee{
   text-align: center;
   font-size: 230px;
   letter-spacing: 10px;
   margin-top: -40px;
   z-index: 5;
}
.year{
    text-align: center;
    margin-top: -20px;
    z-index: 5;
   
}
.menubars{
    text-align: center;
    z-index: 2;
    position: absolute;
    margin-left: 800px;
    margin-top: -70px;
}
.menubars ul{
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;

}
.menubars ul li{
    width:100px;
    font-size: larger;
}
.menubars ul li a{
    color: var(--white);
    text-decoration: none;

}
.home{
    color: var(--primary);
}
.dropmenu{
    display:none;
    
}
.menubars ul li:hover .dropmenu{
    display: block;
    position: absolute;
    background-color:var(--secondary);
    
} 
.menubars ul li:hover .dropmenu ul{
    display:block ;
    margin-left: -20px;
}
.aboutt:hover{
    color: var(--primary);

}
.about-section {
    margin-top: 90px;
}
.vertical-line {
    width: 2px;
    height: 110px;
    background-color:var(--primary);
    margin: 10px auto 10px;
    text-align: center;
}
.about1{
    font-size:30px ;
    letter-spacing: 11px;
    text-align: center;
    color: var(--primary);
    padding: 0px;
    width: 100vw;
}
.about2{
    font-size: 70px;
    letter-spacing: 5px;
    color: var(--secondary);
    text-align: center;
    padding: 0px;
    width: 100%;
}

.tamplet{
display: flex;
justify-self: center;
width: 90%;

    
}
.tamplet1{
    padding-top: 60px;
}
.tamplet2{
 height: 75vh;
}
.story{
    font-size: 50px;
}
.story1{
    font-size: 26px;
    letter-spacing:0.5 px;
    word-spacing: 1px;
    color: var(--gray);
    width: 25vw;
}
.story2{
    font-size: 18px;
    letter-spacing:0.5px;
    word-spacing: 0px;
    color: var(--gray-dark);
    width: 25vw;
}
.btn1{
    background-color: var(--secondary);
    padding:15px 35px 0px ;
    text-align: center;
}
.btn1colour{
    color: var(--white);
    font-size: 18px;
}
.tamplet3{
    padding-top: 60px;

}

.story3{
    font-size: 50px;
}
.story4{
    font-size: 26px;
    letter-spacing:0.5 px;
    word-spacing: 1px;
    color:var(--gray);
    width: 25vw;
}
.story5{
    font-size: 20px;
    letter-spacing:0.5px;
    word-spacing: 1px;
    line-height: 90%;
    color: var(--dark);
    width: 25vw;
}
.btn2{
    background-color: var(--primary);
    padding:15px 35px 0px ;
    border: var(--primary);
    text-align: center;
}
.btn2colour{
    color: var(--dark);
    font-size: 18px;
}
.vertical-line1 {
    width: 2px;
    height: 110px;
    background-color:var(--primary);
    margin: 10px auto 10px;
}
.services-section {
    text-align: center;
    margin-top: 90px;
    width: 100%;
}
.services1{
    font-size:30px ;
    letter-spacing: 11px;
    text-align: center;
    color: var(--primary);
}
.services2{
    font-size: 70px;
    letter-spacing: 5px;
    color: var(--secondary);
}
.Service{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 40px 200px;

}
.service-1img{
    width: 95%;
    padding: 27px;
}
.service-txt1{
   padding-top: 30px;
}
.png1{
    background: var(--primary);
    padding: 13px;
    border-radius: 50px;
}
.png2{
    background: var(--primary);
    padding: 10px;
    border-radius: 50px;
}
.png3{
    background: var(--primary);
    padding: 9px;
    border-radius: 29px;
}
.png4{
    background: var(--primary);
    padding: 10px;
    border-radius: 29px;
}
.service-txt2{
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 0.5px;
    color: var(--gray-dark);
}
.overlay{
width: 100%;
height: 75vh;
background: url(bg.jpg);
display: flex;
background-size: cover;
text-align: center;
justify-content: center;
margin-top: 80px;
z-index: 1;
}
.overlay-text{
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 120px;
    width: 100%;
    font-family: "Oswald", serif;
}
.overlay2{
    position: absolute;
    width: 100%;
    margin-top:-578px;
    z-index: 2;
    filter: brightness(3);
}
.overlay1{
    position: absolute;
    width: 100%;
    margin-top: -37px;
    z-index: 3;
    filter: brightness(3);
}
.off{
    font-size: 100px;
    color: var(--primary);
}
.sunday{
    font-size: 50px;
}
.jan{
    font-size: 35px;
    padding: 15px;
}
.input1{
    padding: 15px 60px;
}
.btn4{
    background-color: var(--primary);
   padding: 19px 20px 10px 20px;
   margin-left: -10px;
}
.btn4:hover{
    background-color: var(--secondary);
    color: var(--white);
    border-color: var(--white);
}
.amount-section {
    text-align: center;
    margin-top: 90px;
    width: 100%;
}
.vertical-line2 {
    width: 2px;
    height: 110px;
    background-color:var(--primary);
    margin: 10px auto 10px;
}
.menu{
    color: var(--secondary);
    width: 100%;
}
.menu-pricing{
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    width: 100%;
    justify-content:space-around;
    padding: 20px px 0px 0px;
    margin: 0px 0px 0px 60px;
   
}
.menu-size{
    display: flex;
    width: 100%;
   justify-content: space-evenly;

}
.menu-pricing1{
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    width: 100%;
    padding: 20px 0px 0px 0px;
    margin: 0px 0px 0px -150px;
   
}
.amount{
    display: none;
    text-align: center;
    background-color: var(--primary);
    border-radius: 25px;
    width: 80px;

}
.amount1{
    font-size:30px ;
    letter-spacing: 11px;
    text-align: center;
    color: var(--primary);
}
.amount2{
    font-size: 70px;
    letter-spacing: 5px;
    color: var(--secondary);
    padding-bottom: 30px;
}
.hot{
    font-size: 35px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px 0px 0px 100px;
}
.cold{
    font-size: 35px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px 0px 0px 100px;
}
.memuimg1{
    width: 10.2vw;
    height: 22vh;
    border-radius: 100px;
    align-items: center;
    margin-left: 100px;
    margin-top: px;
    padding: 25px;
}
.memuimg2{
    width: 12.5vw;
    height: 25vh;
    border-radius: 100px;
}
.memuimg3{
    width: 12.5vw;
    height: 2vh;
    border-radius: 100px;
}
.memuimg4{
    width: 12.5vw;
    height: 25vh;
    border-radius: 100px;
}
.memuimg5{
    width: 12.5vw;
    height: 25vh;
    border-radius: 100px;
}
.memuimg6{
    width: 12vw;
    height: 22vh;
    border-radius: 100px;
}
.menutext1{
    width: 70%;
    padding:25px;
    margin: 60px 0px 0px 0px;
    color: var(--secondary);
}
.menutext2{
    width: 70%;
    padding:25px;
    margin: 15px 0px 0px 0px;
    color: var(--secondary);
}
.menutext3{
    width: 70%;
    padding:25px;
    margin: 15px 0px 0px 0px;
    color: var(--secondary);
}
.menutext4{
    width: 70%;
    padding:25px;
    margin: 60px 0px 0px 0px;
    color: var(--secondary);
}
.menutext5{
    width: 70%;
    padding:25px;
    margin: 15px 0px 0px 0px;
    color: var(--secondary);
}
.menutext6{
    width: 70%;
    padding:25px;
    margin: 15px 0px 0px 0px;
    color: var(--secondary);
}

.menutext12{
    color: var(--gray-dark);
}
.menutext1:hover .amount{
    display: block;
}
.menutext2:hover .amount{
    display: block;
}
.menutext3:hover .amount{
    display: block;
}
.menutext4:hover .amount{
    display: block;
}
.menutext5:hover .amount{
    display: block;
}
.menutext6:hover .amount{
    display: block;
}
.reserve{
position: relative;
width: 80%;
background-position: center;
left: 160px;
height: 90vh;
background: url(bg.jpg);
display:flex ;
text-align: center;
justify-content: center;
margin-top: 120px;
z-index: 1;
}
.reserve-table{
    display:grid;
    grid-template-columns: 50% 50%;
    text-align:left;
    color: white;
    width: 100%;
}
.overlay3{
    position: absolute;
    width: 100%;
    margin-top:-25px;
    z-index: 2;
    filter: brightness(3);
}
.overlay4{
    position: absolute;
    width: 100%;
    margin-top: 620px;
    z-index: 3;
    filter: brightness(3);
}
.left1{
    background: rgba(25, 3, 3, 0.616);
    padding: 110px;
    width: 100%;
}
.off1{
    font-size: 85px;
    color: var(--primary);
    letter-spacing: 2px;
}
.off2{
    font-size: 40px;
}
.off3{
    font-size: 18px;
    text-align: left;
    word-spacing: 2px;
    letter-spacing: 1px;
    width: 85%;
}
.sit{
    letter-spacing: 1px;
}
.right1{
    background: rgba(41, 16, 16, 0.867);
   padding: 80px;
   display: flex;
   flex-direction: column;
   width: 100%;
   text-align: center;
}
#mail1{
    height: 50px;
    width: 90%;
    background-color:  rgba(41, 16, 16, 0.867);
    border-color: var(--primary);
    margin-top: 20px;
    border-width: 3px;
    color: var(--success);
    text-align: center;
}
#date{
    height: 50px;
    width: 90%;
    background-color: rgba(41, 16, 16, 0.867);
    border-color: var(--primary);
    margin-top: 20px;
    border-width: 3px;
    color: var(--success);
    text-align: center;

}
#name1{
    height: 50px;
    width: 90%;
    background-color: rgba(41, 16, 16, 0.867);
    border-color: var(--primary);
    margin-top: 20px;
    border-width: 3px;
    color: var(--success);
    text-align: center;
}
#time{
    height: 50px;
    width: 90%;
    background-color: rgba(41, 16, 16, 0.867);
    border-color: var(--primary);
    padding: 20px;
    margin-top: 20px;
    border-width: 3px;
    color: var(--success);
    text-align: center;
}
#person{
    height: 50px;
    width: 90%;
    margin-left: -44px;
    margin-top: 20px;
    background-color: rgba(41, 16, 16, 0.867);
    border-color: var(--primary);
    border-width: 3px;
    color: var(--success);
    text-align: center;
}
#btnn{
    height: 50px;
    width: 90%;
    background-color:  var(--primary);
    border-color: var(--primary);
    margin-top: 20px;
    border-width: 3px;
    color: var(--success);
   
}
.Testimonial{
    text-align: center;
    margin-top: 90px;
}
.vertical-line3 {
    width: 2px;
    height: 110px;
    background-color:var(--primary);
    margin: 60px auto 10px;
}
.clients1{
    display: flex;
    justify-content:space-evenly ;
    align-content: center;
    width: 100%;
}
.client2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    width: 100%;

}
.test1{
    height: 100px;
    margin:60px 0px 0px 50px ;
}
.test2{
    margin:60px 0px 0px -40px;
}
.test3{
    margin: 0px 0px 0pc 40px ;
    color: var(--gray-dark);
}
.test4{
    margin: 5px 0px 0px 0px ;
    color: var(--gray-dark);
}
.test5{
    margin: 5px 0px 0px 0px ;
    color: var(--gray);
}
.test6{
    margin: 5px 20px 0px 0px ;
    color: var(--gray-dark);
}
.end-section1{
    background-image: url(bg.jpg);
    height:65vh;
    padding: 60px;
    width: 100%;
    text-align: left;
    margin-top: 100px;
}
.end-section{
    display: grid;
    grid-template-columns: auto auto auto auto;
    color: var(--white);
    background-color: var(--back);
    padding: 50px 60px 40px 60px;
    margin-bottom: 1.2px;
    width: 100%;
}
.overlay-end{
  width: 100%;
   margin-bottom:-240px ;
   filter: brightness(3)
}

.h22{
    font-size:40px ;
    text-transform: uppercase;
    padding: 0px 35px;
    font-weight: 50px;

    
}
.copyright{
    color: var(--white);
    text-align: center;
    background-color:var(--back);
    margin-top: 0px;
    padding: 0px 50px 5px 0px;
}
.days{
    padding: 0px 40px;
    font-size: 14px;
    font-weight: 20px;
    font-family:sans-serif
}
.icon {
    padding: 20px;
    font-size: 30px;
    width: 55px;
    text-align: center;
    text-decoration: none;
    border: 2px solid var(--white);
 }
 .icon:hover
 {
    background-color: var(--primary);
 }
 .mail3{
    padding: 0px 10px 0px 0px;
    margin-left: 40px;
    width: 252px;
    height: 50px;
    text-align: center;

 }
 .btn9{
    height: 53px;
    width: 90px;
    margin-left: -20px;
    background-color: var(--primary);
 }
 .btn9:hover{
    background-color: var(--orange);
    color: var(--white);
 }  
 .day2{
    text-decoration: none;
    list-style: none;
    color: var(--primary);

 }
 .days1{
    padding-top: 15px;
    word-spacing: 3px;
    font-family: serif;
 }
 .days2{
    word-spacing: 3px;
    font-family: serif;
    padding: 0px;
}
 .mail3:hover{
    border: 3px solid var(--primary);
}
@media (max-width: 670px) {
    .c-img{
            object-fit: cover;
            z-index: 0;
            }
            .logo1{
            position:relative;
            color:white ;
            z-index:1;
            background-color: rgba(60, 34, 34, 0.5);
          }
          .heading{
            color:white ;
            z-index: 1;
            font-weight: bolder;
          }
            .size{
                background-color:  rgba(60, 34, 34, 0.5);
                background-position: center;
                width: 100%;
                height:50vh;
                margin-left: -50px;
                margin-bottom: -20px;
            }
            
            .serving{
                font-size:20px;
                word-spacing: 3px;
                padding-top: 180px;
                color: var(--primary);
            }
            .coffee{
               text-align: center;
               font-size: 30px;
               letter-spacing: 3px;
               margin-top: 0px;
            }
            .year{
                text-align: center;
                margin-top: 0px;
                font-size: 16px;
               
            }
          .koppee{
            font-size: 16px;
            padding: 10px 0px 0px 10px;
            font-weight: 400;
          }
          .menubars{
            text-align: center;
            z-index: 2;
            position: absolute;
            margin-left: 45px;
            margin-top: -25px;
          }
          .menubars ul{
            display: flex;
            justify-content:space-around;
            list-style: none;
            text-align: center;
          
          }
          .menubars ul li{
            width:50px;
            font-size: 10px;
          }
          .menubars ul li a{
            color: var(--white);
            text-decoration: none;
          
          }
          .home{
            color: var(--primary);
          }
          .dropmenu{
            display:none;
            
          }
          .menubars ul li:hover .dropmenu{
            display: block;
            position: absolute;
            background-color:var(--secondary);
            
          } 
          .menubars ul li:hover .dropmenu ul{
            display:block ;
            margin-left: -20px;
          }
          .aboutt:hover{
            color: var(--primary);
          
          }
          
          #hero-caurousel{
            margin-top:-39px;
            z-index: 0;
            width: 100%;
          }
          .vertical-line {
            width: 2px;
            height: 80px;
            background-color:var(--primary);
            margin: 0px auto 10px;
        }

        .about1 {
            font-size: 18px;
            letter-spacing: 8px;
        }
    
        .about2 {
            font-size: 25px;
            letter-spacing: 3px;
        }
    
        .tamplet {
            flex-direction: column;
            align-items: center;
            width: 90%;
        }
    
        .tamplet1, .tamplet3 {
            padding-top: 15px;
            width: 100%;
            text-align: left;
        }
    
        .tamplet2 {
            height: 30vh;
            width: 100%;
            margin-bottom: 20px;
        }
    
        .story {
            font-size: 20px;
        }
    
        .story1 {
            font-size: 16px;
            letter-spacing: 0.3px;
            word-spacing: 0.5px;
            color: var(--gray);
            width: 100%;
        }
    
        .story2 {
            font-size: 12px;
            letter-spacing: 0.3px;
            word-spacing: 0px;
            color: var(--gray-dark);
            width: 100%;
        }
    
        .btn1, .btn2 {
            width: 30%;
            padding: 10px 0px 0px 0px ;
            text-align: center;
        }
    
        .btn1colour, .btn2colour {
            font-size: 14px;
        }
    
        .story3 {
            font-size: 20px;
        }
    
        .story4 {
            font-size: 12px;
            letter-spacing: 0.3px;
            word-spacing: 1px;
            color: var(--gray);
            width: 100%;
        }
    
        .story5 {
            font-size: 14px;
            letter-spacing: 0.3px;
            word-spacing: 1px;
            line-height: 70%;
            color: var(--dark);
            width: 100%;
        }
        .vertical-line1{
            width: 2px;
            height: 80px;
            background-color:var(--primary);
            margin: 0px auto 10px;
        }
        .services1 {
            font-size: 16px;
            letter-spacing: 3px;
        }
    
        .services2 {
            font-size: 20px;
        }
        .Service {
            padding: 0px;
        }
    
        .service-1img {
           
            padding: 20px 0px 0px;
        }
        .service-txt1 {
            font-size: 14px;
            padding: px 0px 0px 0px;
        }
    
        .service-txt2 {
            font-size: 10px;
            padding: 0px ;
        }
        .png1, .png2, .png3, .png4 {
            padding: 4px;
        }
        .Service {
            grid-template-columns: 30% 70%;
            padding: 8px;
        }
        .overlay {
            height: 35vh;
            margin-top: 20px;
        }
        .overlay2{
            filter: brightness(3);
            margin-top: -242px;
        }
        .overlay1{
            filter: brightness(3);
            margin-top: -20px;
        }
        .overlay-text {
            padding: 0px;
            background-color: rgba(41, 16, 16, 0.867)
        }
        
        .off {
            font-size: 35px;
            padding-top: 30px;
        }
        
        .sunday {
            font-size: 20px;
        }
        
        .jan {
            font-size: 16px;
            padding: 0px;
        }
        
        .input1 {
            padding: 3px 0px;
        }
        
        .btn4 {
            padding: 5px 4px -0px;
            margin: 0px 0px 0px -4px;
        }
        .sign{
            margin: 0px 0px 0px 0px;
            padding: 2px 0px 6px 2px;
        }
        .amount-section {
                margin-top: 60px;
            }
            .vertical-line2{
                width: 2px;
                height: 80px;
                background-color:var(--primary);
                margin: 0px auto 10px;    
            }
            .amount1 {
                width: 100%;
                font-size: 16px; 
                letter-spacing: 3px;
            }
            .amount2 {
                font-size: 25px;
            }
            
            .menu-pricing,
            .menu-pricing1 {
                grid-template-columns: 40% 60%;
                margin: 0;
                padding: 10px;
            }
        
            .menu-size {
                flex-direction: column;
                align-items: center;
            }
        
            .memuimg1,
            .memuimg2,
            .memuimg3,
            .memuimg4,
            .memuimg5,
            .memuimg6 {
                width: 100%;
                height: auto;
                margin-left: 0;
                margin-top: 10px;
            }
        
            .hot, .cold {
                font-size: 28px;
                margin: 0 0 10px 0;
            }
        
            .menutext1{
                width: 100%;
                margin: 60px 0px 0px -30px;
                font-size:10px;
            }
            .menutext2{
                width: 100%;
                margin: 20px 0px 0px -30px;
                font-size:10px;
            }
            .menutext3{
                width: 100%;
                margin: 20px 0px 0px -30px;
                font-size:10px;
            }
            .menutext4{
                width: 100%;
                margin: 60px 0px 0px -30px;
                font-size:10px;
            }
            .menutext5{
                width: 100%;
                margin: 20px 0px 0px -30px;
                font-size:10px;
            }
            .menutext6{
                width: 100%;
                margin: 20px 0px 0px -30px;
                font-size:10px;
            }
            .amount {
                width: 50px;
                font-size: 12px;
                padding: 5px;
            }
            .reserve {
                width: 84%;
                left: 0;
                background-position: center;
                height: 870px;
                padding: 0px 0px 0px 0px;
                left: 32px;
                top: -100px;
            }
        
            .reserve-table {
                display: block;
                text-align: center;
            }
        
            .left1, .right1 {
                width: 100%;
                padding: 20px;
            }
        
            .off1 {
                font-size: 30px;
                text-align: left;
            }
        
            .off2 {
                font-size: 22px;
                text-align: left;
            }
        
            .off3 {
                font-size: 15px;
                width: 100%;
            }
            .sit{
                text-align: left;
                font-size: 18px;
            }
        
            #mail1, #date, #name1, #time, #person, #btnn {
                width: 100%;
                margin-left: 0;
            }
        
            .overlay3 {
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 858px;
                z-index: 1;

            }
            .overlay4 {
                width: 100%;
                position: absolute;
                left: 0;
                bottom: -13px;
                z-index: 2;
            }
            .Testimonial{
                text-align: center;
                margin-top: -20px;
            
            }
            .vertical-line3 {
                width: 2px;
                height: 80px;
                background-color:var(--primary);
                margin: 30px auto 10px;
            }
            .clients1{
                display: flex;
                justify-content:space-evenly ;
                align-content: center;
                padding: 0px 0px 0px 0px;
            }
            .client2{
                display: flex;
                justify-content: space-around;
                margin-bottom: 100px;
            
            }
            .test1{
                height: 100px;
                margin:30px 250px 0px 10px ;
            }
            .test2{
                margin:30px 40px 0px -130px;
            }
            .test3{
                margin: 5px 40px 0pc 10px ;
                color: var(--gray-dark);
            }
            .test4{
                margin: 5px 30px 0px 5px ;
                color: var(--gray-dark);
            }
            .test5{
                margin: 5px 20px 0px 10px ;
                color: var(--gray);
            }
            .test6{
                margin: 5px 20px 0px 30px ;
                color: var(--gray-dark);
            }
            .overlay-end{
                width: 100%;
               margin-bottom:-35px ;
              filter: brightness(3)
            }
            .end-section1 {
                padding: 20px 10px;
                margin-top: 0px;
                height: 850px;
            }
        
            .end-section {
                grid-template-columns: repeat(1, auto); 
                padding: 20px 10px;
            }
        
            .h22 {
                font-size: 24px; 
                padding: 0px 10px; 
            }
        
            .days {
                padding: 0px 10px;
            }
        
            .mail3 {
                width: 100%;
                margin-left: 0;
            }
        
            .btn9 {
                width: 100%; 
                margin-left: 0;
                margin-top: 10px;
            }
        
            .icon {
                padding: 10px;
                font-size: 24px;
                width: 40px;
            }
            .copyright{
                color: var(--white);
                text-align: center;
                background-color:var(--back);
                margin-top: 0px;
                padding: 0px 0px 0px 0px;
            }
            .day2{
                padding: 5px 0px 0px 5px;

            }
            
            
    }
        
        