
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    max-width: 100%;

}
:root{
    --primary: #FB5B21;
    --secondary: #BDBDBF;
    --light: #F4F5F8;
    --dark: #222429;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    background: var(--dark);
    padding: 5%; 
    width: 100vw;
}
header .navbar{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.navbar .nav-menu{
    display: flex;
    gap: 20px;
}
.items{
    color: var(--light);
    
}
.logo {
    color: var(--light);
}

p{
    color: var(--primary);
    font-size: 25px;
    display: flex;
    justify-content: center;
}
.heading{
    color: var(--primary);
    font-size: 50px;
    text-align: center;
}
.image{
    background-image: url(https://demo.htmlcodex.com/1682/gym-html-template/img/carousel-1.jpg);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    

}
.second{
    display: flex;
    padding: 55px 55px 200px 55px ;
    
    
}
.text{
    text-align:left;
    color: var(--light);
}
.text1{
    color: var(--primary);

}
.text2{
    color: var(--dark);
}
.textbox{
    background-color: var(--dark);
    padding: 8%
}
.text3{
    background-color: var(--primary);
}
.img2{
    padding-right:45px ;
}

.text4{
    background-color: var(--primary);
}
.text7{
    display: flex;
    justify-content: center;
    gap: 80px;
}
.tamplet{
    display: grid;
    justify-content: center;
    background-color: var(--dark);
    height: 450px; 
    grid-template-columns: 33% 33% 33%;

   
}
.img4{
    width: 200px;
    height: 200px;
    
}
.img3{
    width: 200px;
    height: 200px;
    background-color: var(--light);
}
.img5{
    width: 200px;
    height: 200px;
    background-color: var(--light);
}
.tamplet1{
    background-color: var(--light);
    text-align: center;
    border-radius: 50px;
    height: 400px;
    margin: -100px 50px 50px 50px;

}
.tamplet2{
    background-color: var(--light);
    text-align: center;
    border-radius: 50px;
    height: 400px;
    margin: -100px 50px 50px 50px;
}
.tamplet3{
    background-color: var(--light);
    text-align: center;
    border-radius: 50px;
    height: 400px;
    margin: -100px 50px 50px 50px;
}
.bottom{
    margin-left: 475px;
    width: 100%;
    
}
.bottom1{
    margin-left: 200px;
    margin-top: 50px;
    width: 100%;
    
}
.page3{
    display: flex;
    justify-content: center;
    gap: 20px;

}
.page4{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.days{
    display: flex;
    justify-self: center;
    gap: 10px;
    background-color: var(--dark);
    color: var(--light);
    border-radius: 10px;
    width: 50%;
    height: 38px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
   padding-top: 10px;
}
.page5{
    display: flex;
    gap: 40px;
    justify-content: space-evenly;
    margin-top: 50px;
    color: var(--light);
    text-align: center;
    flex-wrap: wrap;
  

}
.routine1{
    background-color: var(--dark);
    width: 250px;
    height:200px ;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top:30px;
    margin: 0;
}
.routine2{
    background-color: var(--dark);width: 250px;
    height:200px ;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top:30px;
    margin: 0;
    
}
.routine3{
    background-color: var(--dark);
    width: 250px;
    height:200px ;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top:30px;
    margin: 0;
}
.routine4{
    background-color: var(--dark);
    width: 250px;
    height:200px ;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top:30px;
    margin: 0;
}
.routine5{
    background-color: var(--dark);
    width: 250px;
    height:200px ;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top:30px;
    margin: 0;
}
.routine6{
    background-color: var(--dark);
    width: 250px;
    height:200px ;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top:30px;
    margin: 0;
}
.routine7{
    background-color: var(--dark);
    width: 250px;
    height:200px ;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top:30px;
    margin: 0;
}
.routine8{
    background-color: var(--dark);
    width: 250px;
    height:200px ;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top:30px;
    margin: 0;
}
/*
.follow{
    background-color: var(--dark);
    height: 200px;
    margin-top:50px;
    display: flex;
    transition: all 0.5s ease-in-out;
}
.experience{
    text-align: center;
    color: var(--light);
}
.counterimg{
    width: 50px;
    object-fit: contain;
    filter: drop-shadow(0 0 0.2rem) var(--light);
}
.experience:hover{
    background-color: var(--primary);
    cursor: pointer;
    transition: all 0 0.5s ease-in-out;
}
.experience .counter{
    font-size: 4.5rem;
    color: transparent;
}*/
.trainer{
    display: flex;
    justify-self: center;
    flex-direction: column;
    text-align: center;
}
.trainerimg{
    position: relative;
display: block;

}
.padimg{
 padding: 20px;
 border-radius: 50px;
 display: block;
 
}
.img1text{
    position: absolute;
    bottom: 0;
    width: 35%;
    background-color: var(--dark);
    text-align: center;
    padding: 10px;
}*/
